.cart-btn {
    background-color: #28a745; 
    color: white;
    width: 350px; 
    padding: 12px 20px;
    border-radius: 8px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    border: none;
}

.cart-btn:hover {
    background-color: #218838; 
}